<h1><%=t('layouts.application.users') %></h1>

<table>
  <tr>
    <th><%=t('layouts.application.firts_name')%></th>
    <th><%=t('layouts.application.last_name') %></th>
    <th>Email</th>
    <th>ID</th>
    <th>Review</th>
    <th>Rating</th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= user.first_name %></td>
    <td><%= user.last_name %></td>
    <td><%= user.email %></td>
    <td><%= user.id %></td>



    <% user.reviews.each do |review| %>


        <td><%= review.description %></td>
        <td><%= review.rating_integer %></td>


    <% end %>


    <td><%= link_to 'Show', user %></td>
    <td><%= link_to 'Edit', edit_user_path(user) %></td>
    <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New User', new_user_path %>
