<p id="notice"><%= notice %></p>

<p>
  <b>Summary:</b>
  <%= @review.summary %>
</p>

<p>
  <b>Description:</b>
  <%= @review.description %>
</p>

<p>
  <b>Rating:</b>
  <%= @review.rating  %>
</p>

<p>
  <b>User:</b>
  <%= @review.username  %>
</p>

<%= edit_review_link_user @review.product, @review %> |
<%= link_to 'Back', product_path(@review.product) %>
