<p id="notice"><%= notice %></p>

<p>
  <b>Summary:</b>
  <%= @review.summary %>
</p>

<p>
  <b>Description:</b>
  <%= @review.description %>
</p>

<p>
  <b>Rating integer:</b>
  <%= @review.rating_integer %>
</p>


<%= link_to 'Edit', edit_review_path(@review) %> |
<%= link_to 'Back', reviews_path %>
